In [2]:
import pandas as pd
import seaborn as sns

In [113]:
df=pd.read_csv("C:/Users/babbl/Downloads/Telegram Desktop/data (2).csv")
df.head(1)

,Unnamed: 0,Order ID,Order Date,CustomerName,State,Amount,Profit,Quantity,Category
0,0,B-25601,04-01-2018,Bharat,Gujarat,1275,-1148,7,Furniture

In [114]:
od=df['Order Date'].values
print(od)
od1=od

['04-01-2018' '04-01-2018' '04-01-2018' ... '31-03-2019' '31-03-2019'
 '31-03-2019']

In [115]:
for i in range(len(od)):
    od1[i]=od[i][3:]

In [116]:
print(od1)

['01-2018' '01-2018' '01-2018' ... '03-2019' '03-2019' '03-2019']

In [117]:
for i in range(len(od1)):
    od1[i]=od1[i].split('-')

In [118]:
for i in range(len(od1)):
    od1[i]=od1[i][::-1]

In [119]:
for i in range(len(od1)):
    od1[i][0]=od1[i][0][2:]

In [120]:
print(od1)
od2=od1

[list(['18', '01']) list(['18', '01']) list(['18', '01']) ...
 list(['19', '03']) list(['19', '03']) list(['19', '03'])]

In [121]:
month={'01':'Jan','02':'Feb','03':'Mar','04':'Apr','05':'May','06':'Jun','07':'Jul','08':'Aug','09':'Sep','10':'Oct','11':'Nov','12':'Dec'}

In [122]:
for i in range(len(od1)):
    od1[i][1]=month[od1[i][1]]

In [123]:
for i in range(len(od1)):
    od2[i]='-'.join(od1[i])

In [127]:
df['new date']=pd.DataFrame(od2)

In [152]:
dates=[]
d={}
for i in df['Order Date'].values:
    d[i]=0

In [153]:
for i,j in zip(df['Order Date'].values,df['Profit'].values):
    d[i]+=j

In [154]:
df2=pd.read_csv("C:/Users/babbl/Downloads/Telegram Desktop/E-Commerce_Command Center(3).csv")
df2.head(1)

  Month of Order Date   Category  Target
0              18-Apr  Furniture   10400

In [155]:
d1={}
dates=[]
d1={}
for i in df['Order Date'].values:
    d1[i]=0

In [159]:
for i,j in zip(df2['Month of Order Date'].values,df2['Target'].values):
    d1[i]+=j

In [166]:
print(d)
print(d1)

{'18-Jan': -3296, '18-Mar': 669, '18-May': -891, '18-Jun': -3759, '18-Aug': -1059, '18-Sep': -3509, '18-Nov': 4955, '18-Dec': 1535, '18-Apr': -1043, '18-Jul': -2065, '18-Oct': 5979, '18-Feb': 685, '19-Jan': 8655, '19-Feb': 2291, '19-Mar': 6633, '19-Apr': 1295, '19-May': 943, '19-Jun': 700, '19-Jul': 975, '19-Aug': 594, '19-Sep': 1597, '19-Oct': 1892, '19-Nov': 122, '19-Dec': 57}
{'18-Jan': 0, '18-Mar': 0, '18-May': 31500, '18-Jun': 31600, '18-Aug': 33900, '18-Sep': 34000, '18-Nov': 36300, '18-Dec': 36400, '18-Apr': 31400, '18-Jul': 33800, '18-Oct': 36100, '18-Feb': 0, '19-Jan': 43500, '19-Feb': 43600, '19-Mar': 43800, '19-Apr': 0, '19-May': 0, '19-Jun': 0, '19-Jul': 0, '19-Aug': 0, '19-Sep': 0, '19-Oct': 0, '19-Nov': 0, '19-Dec': 0}

In [181]:
for i,j in d1.items():
    if j==0:
        d.pop(i)

KeyError: '18-Jan'

In [186]:
for i,j in d1.items():
    if j==0:
        d1.pop(i)

RuntimeError: dictionary changed size during iteration

In [202]:
d2={}

In [203]:
print(len(d))
print(len(d1))

12
17

In [204]:
for i,j in d1.items():
    if j!=0:
        d2[i]=j

In [210]:
print(d)
print(d2)

{'18-May': -891, '18-Jun': -3759, '18-Aug': -1059, '18-Sep': -3509, '18-Nov': 4955, '18-Dec': 1535, '18-Apr': -1043, '18-Jul': -2065, '18-Oct': 5979, '19-Jan': 8655, '19-Feb': 2291, '19-Mar': 6633}
{'18-May': 31500, '18-Jun': 31600, '18-Aug': 33900, '18-Sep': 34000, '18-Nov': 36300, '18-Dec': 36400, '18-Apr': 31400, '18-Jul': 33800, '18-Oct': 36100, '19-Jan': 43500, '19-Feb': 43600, '19-Mar': 43800}

In [225]:
date=[]
profit=[]
target=[]

In [226]:
for i,j in d.items():
    date.append(i)
    profit.append(j)

In [227]:
for i,j in d2.items():
    target.append(j)

In [228]:
print(date)
print(profit)
print(target)

['18-May', '18-Jun', '18-Aug', '18-Sep', '18-Nov', '18-Dec', '18-Apr', '18-Jul', '18-Oct', '19-Jan', '19-Feb', '19-Mar']
[-891, -3759, -1059, -3509, 4955, 1535, -1043, -2065, 5979, 8655, 2291, 6633]
[31500, 31600, 33900, 34000, 36300, 36400, 31400, 33800, 36100, 43500, 43600, 43800]

In [229]:
data={
    'Date':date,
    'Profit':profit,
    'Target':target
}

In [236]:
dfnew=pd.DataFrame(data)

      Date  Profit  Target
0   18-May    -891   31500
1   18-Jun   -3759   31600
2   18-Aug   -1059   33900
3   18-Sep   -3509   34000
4   18-Nov    4955   36300
5   18-Dec    1535   36400
6   18-Apr   -1043   31400
7   18-Jul   -2065   33800
8   18-Oct    5979   36100
9   19-Jan    8655   43500
10  19-Feb    2291   43600
11  19-Mar    6633   43800

In [237]:
ans=[]
for i,j in zip(df['Profit'].values,df['Target'].values):
    if i>j:
        print("Target Reached")
    else:
        ans.append('Target Not Reached')

In [238]:
dfnew['Status']=pd.DataFrame(ans)

In [239]:
dfnew

      Date  Profit  Target              Status
0   18-May    -891   31500  Target Not Reached
1   18-Jun   -3759   31600  Target Not Reached
2   18-Aug   -1059   33900  Target Not Reached
3   18-Sep   -3509   34000  Target Not Reached
4   18-Nov    4955   36300  Target Not Reached
5   18-Dec    1535   36400  Target Not Reached
6   18-Apr   -1043   31400  Target Not Reached
7   18-Jul   -2065   33800  Target Not Reached
8   18-Oct    5979   36100  Target Not Reached
9   19-Jan    8655   43500  Target Not Reached
10  19-Feb    2291   43600  Target Not Reached
11  19-Mar    6633   43800  Target Not Reached